/* Styling adjustments for Stoke Gravity Forms for Elementor fields */
.sge-gravity-form input,
.sge-gravity-form select,
.sge-gravity-form textarea {
    box-shadow: none;
}

.sge-gravity-form input:focus,
.sge-gravity-form select:focus,
.sge-gravity-form textarea:focus {
    box-shadow: none;
    outline: none;
}

/* Remove system selection highlight when typing */
.sge-gravity-form input::selection,
.sge-gravity-form input::-moz-selection,
.sge-gravity-form select::selection,
.sge-gravity-form select::-moz-selection,
.sge-gravity-form textarea::selection,
.sge-gravity-form textarea::-moz-selection {
    background: transparent;
}
