/* Styling adjustments for Stoke Gravity Forms for Elementor fields */
.sge-gravity-form input:not([type="checkbox"]):not([type="radio"]),
.sge-gravity-form select,
.sge-gravity-form textarea,
.sge-gravity-form .gform_button,
.sge-gravity-form .gform_next_button,
.sge-gravity-form .gform_previous_button,
.sge-gravity-form .gform_save_link {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none;
}

.sge-gravity-form input:not([type="checkbox"]):not([type="radio"]):focus,
.sge-gravity-form select:focus,
.sge-gravity-form textarea:focus,
.sge-gravity-form .gform_button:focus,
.sge-gravity-form .gform_next_button:focus,
.sge-gravity-form .gform_previous_button:focus,
.sge-gravity-form .gform_save_link:focus {
    box-shadow: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    border-color: inherit !important;
    box-shadow: none;
    outline: none;
}

/* Submit button */
.sge-gravity-form .gform_button,
.sge-gravity-form .gform_save_link {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none;
}

.sge-gravity-form .gform_button:focus,
.sge-gravity-form .gform_save_link:focus {
    box-shadow: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    border-color: inherit !important;
    box-shadow: none;
    outline: none;
}

/* Next button */
.sge-gravity-form .gform_next_button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none;
}

.sge-gravity-form .gform_next_button:focus {
    box-shadow: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    border-color: inherit !important;
    box-shadow: none;
    outline: none;
}

/* Previous button */
.sge-gravity-form .gform_previous_button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none;
}

.sge-gravity-form .gform_previous_button:focus {
    box-shadow: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    border-color: inherit !important;
    box-shadow: none;
    outline: none;
}

/* Buttons */
.sge-gravity-form .gform_button,
.sge-gravity-form .gform_save_link,
.sge-gravity-form .gform_next_button,
.sge-gravity-form .gform_previous_button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: 0;
    box-shadow: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    -webkit-tap-highlight-color: transparent;
}

.sge-gravity-form .gform_button:focus,
.sge-gravity-form .gform_save_link:focus,
.sge-gravity-form .gform_next_button:focus,
.sge-gravity-form .gform_previous_button:focus {
    box-shadow: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    border-color: inherit !important;
    outline: none;
}

/* Remove system selection highlight when typing */
.sge-gravity-form input::selection,
.sge-gravity-form input::-moz-selection,
.sge-gravity-form select::selection,
.sge-gravity-form select::-moz-selection,
.sge-gravity-form textarea::selection,
.sge-gravity-form textarea::-moz-selection {
    background: transparent;
}

/* Checkboxes and radios */
.sge-gravity-form .ginput_container_checkbox ul,
.sge-gravity-form .ginput_container_radio ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sge-gravity-form .ginput_container_checkbox li,
.sge-gravity-form .ginput_container_radio li {
    margin: 0;
    padding: 0;
}

.sge-gravity-form .ginput_container_checkbox input[type="checkbox"],
.sge-gravity-form .ginput_container_radio input[type="radio"],
.sge-gravity-form .ginput_container_consent input[type="checkbox"] {

    position: absolute;
    opacity: 0;
}

.sge-gravity-form .ginput_container_checkbox label,
.sge-gravity-form .ginput_container_radio label,
.sge-gravity-form .ginput_container_consent label {
    position: relative;
    display: inline-block;
    padding-left: 1.5em;
    margin-left: 0em;
    cursor: pointer;
}


.sge-gravity-form .ginput_container_radio input[type="radio"] + label::before,
.sge-gravity-form .ginput_container_consent input[type="checkbox"] + label::before {

    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1em;
    height: 1em;
    border: 1px solid currentColor;
    background: transparent;
}


.sge-gravity-form .ginput_container_checkbox input[type="checkbox"] + label::before,
.sge-gravity-form .ginput_container_consent input[type="checkbox"] + label::before {
    border-radius: 2px;
}

.sge-gravity-form .ginput_container_radio input[type="radio"] + label::before {
    border-radius: 50%;
}


.sge-gravity-form .ginput_container_radio input[type="radio"]:checked + label::before,
.sge-gravity-form .ginput_container_consent input[type="checkbox"]:checked + label::before {
    background: currentColor;
}
